{% extends 'main.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'top/error.css' %}">
{% endblock stylesheet %}

{% block title %}
Error
{% endblock title %}

{% block contents %}
    <div id="error">
        <h1>申し訳ございません。</h1>
        <h1>エラーが発生しました。以下のことが考えられます。</h1>
        <p>APIリクエスト失敗によりデータの取得に失敗した。</p>
        <p>データベースからのデータ取得に失敗した。</p>
        <p>営業時間外に無理やり接続を試みた。</p>
        <h1>このページが出現した場合連絡をいただけると助かります。</h1>
        <h1>お手数ですがブラウザバック又はページ上部のアイコンをタップし元のページへお戻りください。</h1>
        <h1>I'm sorry.</h1>
        <h1>An error has occurred. The following can be considered.</h1>
        <p>Data acquisition failed due to API request failure.</p>
        <p>Failed to get data from the database.</p>
        <p>Forcibly tried to connect outside business hours.</p>
        <h1>If this page appears, it would be helpful if you could contact us.</h1>
        <h1>Sorry to trouble you, but please tap the browser back or the icon at the top of the page to return to the original page.</h1>
    </div>
{% endblock contents %}

{% block menu %}
{% endblock menu %}