{% extends 'main.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'standbytime/standbytime.css' %}">
{% if parkType == 'TDL' %}
    <link rel="stylesheet" type="text/css" href="{% static 'attraction/tdl.css' %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'attraction/tds.css' %}">
{% endif %}
<script src="{% static 'standbyTime/standbytime.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
{% endblock stylesheet %}


{% block title %}{{info.name}}待ち時間解析{% endblock %}
{% block contentsWall %}
<img src={{ attraction_info.images.0 }}>
<div class="contentsIn">
    <div id="standby-time">
        <small>データ取得時刻:{{ now_time }}</small>
        <h2>{{ attraction_info.name }}</h2>
        <!--製作中は表示できるようにするためTureにしていますはずします 本番 parksCondition.open-->
        {% if now_open_info %}
            {% if data_today.0|length != 1 %}
                {% if info.standbyTime %}
                    <h3>現在の待ち時間は{{ info.standbyTime }}分です</h3>
                {% elif info.facilityStatusMessage %}
                    <h3>現在のステータス:　{{ info.facilityStatusMessage }}</h3>
                {% elif info.operatings.0.operatingStatusMessage %}
                    <h3>現在のステータス:　{{ info.operatings.0.operatingStatusMessage }}</h3>
                {% else %}
                    <h3>現在の待ち時間はありません</h3>
            {% endif %}
            <h3>本日の待ち時間遷移グラフ</h3>
            <h3>本日の平均待ち時間は約{{ data_today.1 }}分です。</h3>
            <div class="figure">
                <canvas id="standby-today"></canvas>
                <script type="text/javascript">
                var ctx = document.getElementById("standby-today");
                var myRadarChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ data_today.0.index.values.tolist|safe }},
                        datasets: [{
                            label: "本日のスタンバイ待ち時間",
                            data: {{ data_today.0.standby_time.values.tolist|safe }},
                            backgroundColor: "rgba(75,192,192,0.4)",
                            borderColor: "rgba(75,192,192,1)",
                        },
                        {% if True %}
                        {
                            label: "先週のスタンバイ待ち時間",
                            data: {{ data_lastweek.0.standby_time.values.tolist|safe }},
                            backgroundColor: "rgba(255,20,147,0.4)",
                            borderColor: "rgba(255,20,147,1)",
                        }
                        {% endif %}
                        ]},
                    options: {
                        maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
                });
                </script>
            </div>
            <button id="today-table-button">
                <span>テーブルを表示</span>
            </button>
            <div id="today-table">
                <table>
                    <thead>
                        <tr>
                            <th>時刻</th>
                            <th>待ち時間</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for datas in data_today.2 %}
                        <tr>
                            <td>{{ datas.0 }}</td>
                            <td>{{ datas.1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <small>※一時運営中止等の場合は-1、欠損値は-0.5で出力しています。</small>
            </div>
            <h3>昨日の待ち時間遷移グラフ</h3>
            <h3>昨日の平均待ち時間は約{{ data_yesterday.1 }}分でした。</h3>
            <div class="figure">
                <canvas id="standby-yesterday"></canvas>
                <script type="text/javascript">
                var ctx = document.getElementById("standby-yesterday");
                var myRadarChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ data_yesterday.0.index.values.tolist|safe }},
                        datasets: [{
                            label: "スタンバイ待ち時間",
                            data: {{ data_yesterday.0.standby_time.values.tolist|safe }},
                            backgroundColor: "rgba(75,192,192,0.4)",
                            borderColor: "rgba(75,192,192,1)",
                        }]},
                    options: {
                        maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
                });
                </script>
            </div>
            <button id="yesterday-table-button">
                <span>テーブルを表示</span>
            </button>
            <div id="yesterday-table">
                <table>
                    <thead>
                        <tr>
                            <th>時刻</th>
                            <th>待ち時間</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for datas in data_yesterday.2 %}
                        <tr>
                            <td>{{ datas.0 }}</td>
                            <td>{{ datas.1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <small>※一時運営中止等の場合は-1、欠損値は-0.5で出力しています。</small>
            </div>
            {% if info.fastpass %}
            <div class="figure">
                <canvas id="fastpass"></canvas>
                <script type="text/javascript">
                var ctx = document.getElementById("fastpass");
                var myRadarChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ data_today.1|safe }},
                        datasets: [{
                            label: "ファストパス開始時間",
                            data: {{ fp.0|safe }},
                            borderColor: "rgba(75,192,192,1)",
                        },
                        {    label: "ファストパス終了時間",
                            data: {{ fp.1|safe }},
                            borderColor: "rgba(75,192,192,1)",
                        }]},
                    options: {
                        maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            type : 'time',
                            distribution: 'series',
                            time : {
                                format: "HH:mm",
                                unit: 'hour',
                                parser: 'hh:mm',
                                unit : 'minute',
                                unitStepSize : 200,
                                displayFormats : {
                                    'minute': 'HH:mm',
                                    'hour': 'HH:mm',
                                    second: this.timeFormat
                                }
                            },
                    }]
                    }
                }
                });
                </script>
            </div>
            {% endif %}
            {% endif %}
            {% if park_type == "TDL" %}
                <p>この後も東京ディズニーランドで素敵なひと時をお過ごしください</p>
            {% else %}
                <p>この後も東京ディズニーシーで素敵なひと時をお過ごしください</p>
            {% endif %}
        {% else %}
        <h3>ただいま閉園中です</h3>
        <p>開園中にかかわらずこの画面が表示される場合はサイトの再読み込みを御願いします</p>
        {% endif %}
    </div>
</div>
{% endblock contentsWall %}
