{% extends 'main.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'attraction/detail.css' %}">
{% if info.parkType == 'TDL' %}
    <link rel="stylesheet" type="text/css" href="{% static 'attraction/tdl.css' %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'attraction/tds.css' %}">
{% endif %}
{% endblock stylesheet %}

{% block title %}{{ info.area.name }}{% endblock %}

{% block contentsWall %}
<div class="facility-img img-copyright">
    <img src={{ info.images.0 }}>
</div>
<div class="contentsIn">
    <div id="detail">
        <div id="detail-heade">
            {% if info.sponsor != None %}
                <small>提供:　{{ info.sponsor }}</small>
            {% endif %}
            {% if info.parkType == 'TDL' %}
                <p>東京ディズニーランド　{{ info.area.name }}</p>
            {% else %}
                <p>東京ディズニーシー　{{ info.area.name }}</p>
            {% endif %}
            <h2>{{ info.name }}</h2>
            <section id="inner-container">
            <div id="inner-header">
            {% if info.operatings.0.startAt %}
            <h2>{{ info.operatings.0.startAt | date:"H:i"  }}～{{ info.operatings.0.endAt | date:"H:i" }}</h2>
            {% endif %}
            {% if info.flavor %}
            <h3>{{ info.flavor }}</h3>
            {% endif %}
            {% if info.facilityStatusMessage %}
            <h3>{{ info.facilityStatusMessage }}</h3>
            {% endif %}
            {% if info.prioritySeating %}
            <p>ご利用には事前受付がおすすめです</p>
            {% endif %}
            </div>
            <div id="inner-contents">
            <a href="{% url 'information:restaurantmap' facility_name=info.name park_type=info.parkType facility_code=info.facilityCode %}">
                <img src="{% static 'imgs/map.png' %}">
                <p>マップ</p>
            </a>
            {% if info.prioritySeating %}
            <a href="https://reserve.tokyodisneyresort.jp/restaurant/search/" target="_blank">
                <img src="{% static 'imgs/reservation.png' %}">
                <p>予約</p>
            </a>
            {% endif %}
            {% if info.menuUrl %}
            <a href="{{ info.menuUrl }}">
                <img src="{% static 'imgs/r_menu.png' %}">
                <p>メニュー</p>
            </a>
            {% endif %}
            </div>
            </section>
            <p>{{ info.overview | safe }}</p>
        </div>
        {% if info.effects|length != 0 %}
            <div id="effect">
                <h3>タイプ</h3>
                {% for effect in info.effects %}
                    <p>{{ effect.name }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if info.tags|length != 0 %}
            <div id="tags">
                <h3>特徴</h3>
                {% for tag in info.tags %}
                    <p>{{ tag.name }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if info.restrictions|length != 0 %}
            <div id="srestrictions">
                <h3>利用制限</h3>
                {% for restriction in info.restrictions %}
                    <p>{{ restriction.message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if info.accessibilities|length != 0 %}
            <div id="accessibilities">
                <h3>バリアフリー</h3>
                {% for accessibilitie in info.accessibilities %}
                    <p>{{ accessibilitie.name }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock contentsWall %}