{% extends 'main.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'attraction/detail.css' %}">
{% if info.parkType == 'TDL' %}
    <link rel="stylesheet" type="text/css" href="{% static 'attraction/tdl.css' %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'attraction/tds.css' %}">
{% endif %}
{% endblock stylesheet %}

{% block title %}{{ restaurant.area.name }}{% endblock %}

{% block contentsWall %}
<div class="facility-img img-copyright">
    <img src={{ restaurant.images.0 }}>
</div>
<div class="contentsIn">
    <div id="detail">
        <div id="detail-heade">
            {% if restaurant.sponsor != None %}
                <small>提供:　{{ restaurant.sponsor }}</small>
            {% endif %}
            {% if restaurant.parkType == 'TDL' %}
                <p>東京ディズニーランド　{{ restaurant.area.name }}</p>
            {% else %}
                <p>東京ディズニーシー　{{ restaurant.area.name }}</p>
            {% endif %}
            <h2>{{ restaurant.name }}</h2>
            <section id="inner-container">
            <div id="inner-header">
            {% if restaurant.operatings.0.startAt %}
            <h2>{{ restaurant.operatings.0.startAt | date:"H:i"  }}～{{ restaurant.operatings.0.endAt | date:"H:i" }}</h2>
            {% endif %}
            {% if restaurant.flavor %}
            <h3>{{ restaurant.flavor }}</h3>
            {% endif %}
            {% if restaurant.facilityStatusMessage %}
            <h3>{{ restaurant.facilityStatusMessage }}</h3>
            {% endif %}
            {% if restaurant.prioritySeating %}
            <p>ご利用には事前受付がおすすめです</p>
            {% endif %}
            </div>
            <div id="inner-contents">
            <a href="{% url 'information:restaurantmap' park_type=restaurant.parkType facility_code=restaurant.facilityCode %}">
                <img src="{% static 'imgs/map.png' %}">
                <p>マップ</p>
            </a>
            {% if restaurant.prioritySeating %}
            <a href="https://reserve.tokyodisneyresort.jp/restaurant/search/" target="_blank">
                <img src="{% static 'imgs/reservation.png' %}">
                <p>予約</p>
            </a>
            {% endif %}
            {% if restaurant.menuUrl %}
            <a href="{{ restaurant.menuUrl }}">
                <img src="{% static 'imgs/r_menu.png' %}">
                <p>メニュー</p>
            </a>
            {% endif %}
            </div>
            </section>
            <p>{{ restaurant.overview | safe }}</p>
        </div>
        {% if restaurant.effects|length != 0 %}
            <div id="effect">
                <h3>タイプ</h3>
                {% for effect in restaurant.effects %}
                    <p>{{ effect.name }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if restaurant.tags|length != 0 %}
            <div id="tags">
                <h3>特徴</h3>
                {% for tag in restaurant.tags %}
                    <p>{{ tag.name }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if restaurant.restrictions|length != 0 %}
            <div id="srestrictions">
                <h3>利用制限</h3>
                {% for restriction in restaurant.restrictions %}
                    <p>{{ restriction.message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if restaurant.accessibilities|length != 0 %}
            <div id="accessibilities">
                <h3>バリアフリー</h3>
                {% for accessibilitie in restaurant.accessibilities %}
                    <p>{{ accessibilitie.name }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock contentsWall %}