#standby-time {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#standby-time button {
    width: 70%;
    margin: 10px auto;
}
#standby-time small {
    text-align: right;
    font-size: 1rem;
    color: #A9A9A9;
}
#detail div {
    border-bottom: solid 1px #D3D3D3;
}
.attractions a {
    padding: 20px 20px 20px 0;
    border-bottom: solid 1px #D3D3D3;
    display: flex;
    flex-direction: row;
}
.attractions a img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    padding: 2px;
    border: 2px solid #FF8C00;
}
.attractions:hover {
    background-color: #D3D3D3;
}
.facility-img {
    position: relative;
}
.facility-img img {
    width: 100%;
    margin: auto;
    object-fit: cover;
}
.img-copyright:after {
    position: absolute;
    content: "© Disney";
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    color: #FFFFFF;
}
.vacant {
    color: #FF0000;
}
#detail-heade > small {
    font-size: 0.5rem;
    color: #A9A9A9;
}
.figure {
    height:40vh;
    width:100%;
}
table{
    margin: 0 auto;
    width: 250px;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
}
thead{
    width: 100%;
    display: block;
}
tbody{
    width: 100%;
    height: 11em;
    display: block;
    overflow-y: scroll;
}
tbody::-webkit-scrollbar {
    display:none;
}
th{
    background-color: #ccc;
}
th, td {
    width: 110px;
    height: 1em;
    padding: 2px;
    border: 1px solid #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
h4 {
    margin: 0.1rem;
}
.standby-time-tabale small {
    text-align: center;
}