#tdlhome {
    display: flex;
    flex-direction: column;
}
.area h1 {
    z-index: 2;
    background-color: #FFFFFF;
    position: -webkit-sticky;
    position: sticky;
}
@media screen and (min-width:0px){
    .area h1 {
        top: 60px;
    }
}
@media screen and (min-width:600px){
    .area h1 {
        top: 100px;
    }
}
.attractions {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding-top: 10px;
    border-bottom: solid 1px #D3D3D3;
}
.attractions > div {
    display: flex;
    flex-direction: row;
}
.attractions img {
    position: relative;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    padding: 2px;
    border: 2px solid #FF8C00;
}
.attractions h3 {
    margin: 0;
    padding-left: 50px;
    line-height: 50px;
}
.attractions h4 {
    margin: 0;
    padding-top: 70px;
    position: absolute;
    font-size: 1.3rem;
}
.attractions h5 {
    margin: 0;
    padding-top: 95px;
    padding-left: 9px;
    position: absolute;
    font-size: 1.3rem;
    color: #FFD500;
}
.attractions:hover {
    background-color: #D3D3D3;
}