.area h1 {
    z-index: 2;
    background-color: #FFFFFF;
    position: -webkit-sticky;
    position: sticky;
    padding: 10px 0 10px 0;
    margin: 0;
}
.area > p {
    z-index: 2;
    background-color: #FFFFFF;
    position: -webkit-sticky;
    position: sticky;
    padding: 10px 0 10px 0;
    margin: 0;
    border-bottom: solid 1px #D3D3D3;
}
@media screen and (min-width:0px){
    .area h1 {
        top: 60px;
    }
    .area p {
        top: 109px;
    }
    .servicespots {
        height: 100px;
    }
    .servicespots img{
        width: 55px;
        height: 55px;
    }
}
@media screen and (min-width:600px){
    .area h1 {
        top: 100px;
    }
    .area p {
        top: 167px;
    }
    .servicespots {
        height: 150px;
    }
    .servicespots img{
        width: 80px !important;
        height: 80px !important;
    }
}
.servicespots {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #D3D3D3;
    align-items: center;
}
.servicespots p {
    margin-top: 3px;
}
.servicespots > div {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.servicespots img {
    position: relative;
    object-fit: cover;
    border-radius: 55px;
    padding: 2px;
    border: 2px solid #FF8C00;
}
.servicespots h3 {
    margin: 0;
}
.servicespots h4 {
    margin: 0;
    padding-top: 70px;
    position: absolute;
    font-size: 1.3rem;
}
.servicespots h5 {
    margin: 0;
    padding-top: 95px;
    padding-left: 9px;
    position: absolute;
    font-size: 1.3rem;
    color: #FFD500;
}
.servicespots:hover {
    background-color: #D3D3D3;
}