#loader{
    width: 20px;
    height: 20px;
    display: none;
    position: fixed;
    _position: absolute;     /* IE6対策 */
    top: 50%;
    left: 50%;
    margin-top: -10px;       /* heightの半分のマイナス値 */
    margin-left: -10px;      /* widthの半分のマイナス値 */
    z-index: 10;             /* #fadeより多い値を入れて下さい */
}
#fade{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;              /* #loaderより少ない値を入れて下さい */
}
html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}
@media screen and (min-width:0px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (min-width:600px) {
    html {
        font-size: 100%;
    }
}
body {
    font-family: -apple-system ,
    "Segoe UI",
    "Helvetica Neue",
    "Hiragino Kaku Gothic ProN",
    メイリオ,
    meiryo,
    sans-serif;
    margin: 0;
    font-size: 1.6em;
    scroll-padding-top: 100px;
    color: #11114D;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
}
input {
    border: solid 1px #DCDCDC;
    filter: drop-shadow(0px 1px 1px #A9A9A9);
}
input:focus {
    border: solid 1px #00BFFF;
    outline: 0;
}
button {
    margin: 25px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.4em;
    background-color: #FFF;
    filter: drop-shadow(0px 2px 3px #666);
}
button:hover {
    background-color: #666;
}
button:focus {
    border: solid 1px #00BFFF;
    outline: 0;
}
a {
    text-decoration: none;
}
p {
    font-size: 1.2rem;
}
h1 {
    font-size: 2rem;
    font-family: 'Noto Sans JP';
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.7rem;
}
.development-comment {
    position: fixed;
    color: #A9A9A9;
    font-size: 1rem;
    margin: 0;
}
#menu span {
    display: block;
    width: 80%;
    margin: auto;
    height: 4px;
    background-color: #000;
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc((100% - 4px)/2);
    transition: .2s;
}
#sideMenuButton {
    position: absolute;
    left: 1%;
    z-index: 10;
    border: none;
    outline: none;
    background: transparent;
}
@media screen and (min-width:0px){
    #sideMenuButton {
        margin: 10px 0px 10px 5px;
        width: 40px;
        height: 40px;
    }
    #menuNav {
        width: 87%;
        height: 56.7px;
    }
}
@media screen and (min-width:600px){
    #sideMenuButton {
        margin: 15px 0px 15px 15px;
        width: 70px;
        height: 70px;
    }
    #menuNav {
        width: 95%;
        height: 65.1px;
    }
}
#menuNav {
    visibility: hidden;
    transition: transform 250ms ease-in-out;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 22vh;
    transform: translateX(-250px);
    background-color: rgba(175, 238, 238, 0.8);
    z-index: 5;
}
#menuNav a {
    display: block;
    color: #11114D;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: 5% 0 5% 2%;
}
#menuNav ul {
    right: 60px;
    margin: 0;
}
#menuNav li {
    display: list-item;
    position: relative;
    width: 98%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#menuNav li ul {
    list-style: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
}
#menuNav li ul li {
    opacity: 0;
    width: 98%;
    height: 100%;
    color: #fff;
    padding: 5% 0 5% 2%;
    transition: .5s;
    background-color: rgba(175, 238, 238, 0.8);
}
#menuNav li:hover > ul > li {
    opacity: 1;
    overflow: visible;
}
.menuList {
    margin-top: 2px;
    margin-bottom: 2px;
}
.menuList div {
    margin-right: 22.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.menuList div a img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.menuList div a p {
    font-size: 0.1rem;
    margin: 0;
}
.menuOpen {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(0) !important;
    background-color: rgba(175, 238, 238, 0.55);
}
.line {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: #fff;
}
.menuLineTop {
    transform: translateY(-10px);
}
.menuLineBottom {
    transform: translateY(10px);
}
.menuOpen {
    width: 40vw;
}
.menuOpen .menuLineTop {
    transform: rotate(45deg);
}
.menuOpen .menuLineMiddle {
    opacity: 0;
}
.menuOpen .menuLineBottom {
    transform: rotate(-45deg);
}
.header a{
    color: #11114D;
}
#top {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:0px){
    header {
        height: 60px;
        width: 100vw;
    }
    .header {
    z-index: 1;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    width: 100vw;
    height: 60px;
    position: fixed;
    flex-direction: row;
    background-color: rgba(175, 238, 238, 0.55);
    color: #FFF;
    filter: drop-shadow(0px 2px 3px #AFEEEE);
    }
    .header ul{
        margin: 10px 0px 10px 0px;
    }
    .headerNav {
        top: 0;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .header a img {
        height: 25px;
    }
}
@media screen and (min-width:600px){
    header {
        height: 100px;
    }
    .header {
    z-index: 1;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    width: 100%;
    height: 100px;
    position: fixed;
    flex-direction: row;
    background-color: rgba(175, 238, 238, 0.55);
    filter: drop-shadow(0px 2px 3px #AFEEEE);
    }
    .headerNav {
        top: 0;
        height: 100%;
        text-align: center;
    }
    .header a img {
        height: 50px;
    }
}
.headerNav li {
    padding: 10%;
    display: inline;
}
.header a {
    display: inline-block;
    text-decoration: none;
}
.header a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.header a:hover::after {
    transform: scale(1, 1);
}
.header a img {
    object-fit: cover;
}
.header a > p {
    font-size: 0.1rem;
    margin: 0;
}
.headerUser {
    padding-right: 50px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 17px;
}
#contents {
    background-color: #F5F5F5;
}
@media screen and (min-width:0px){
    .contentsWall {
        background-color: #FFF;
        max-width: 599px;
        margin: 0 auto;
        border: 50px;
        filter: drop-shadow(0px 2px 3px #666);
    }
    .contentsIn {
        padding: 10px;
    }
}
@media screen and (min-width:600px){
    .contentsWall {
        background-color: #FFF;
        max-width: 1002px;
        margin: 0 auto;
        border: 50px;
        filter: drop-shadow(0px 2px 3px #666);
    }
    .contentsIn {
        padding: 30px;
    }
}
.contentsIn a {
    color: #222222;
    text-decoration: none;
}
footer {
    text-align: center;
    top: 500px
}
@media screen and (min-width:0px) {
    .footerIn {
        background-color: rgba(175, 238, 238, 0.55) ;
        filter: drop-shadow(0px 2px 3px #AFEEEE);
        color: #FFF;
        height: 60px;
    }
}
@media screen and (min-width:600px) {
    .footerIn {
        background-color: rgba(175, 238, 238, 0.55);
        filter: drop-shadow(0px 2px 3px #AFEEEE);
        color: #FFF;
        height: 100px;
    }
}
.footerIn a {
    color: #FFF;
}