<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
    {% block extrahead %}
        <meta http-equiv="content-type" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        {% block stylesheet %}
        {% endblock stylesheet %}
        <script src="{% static 'main.js' %}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="loader">
            <img src="{% static 'imgs/loading.gif' %}" alt="Now Loading..." width="20px" height="20px" />
        </div>
        <div id="fade"></div>
        <div id="container">
            <div id="top">
                <header>
                    <div class="header">
                        <p class="development-comment">DevelopmentVersion1.4.0α102020072202</p>
                        <div id="menu">
                            {% if 'login' not in request.path %}
                            <button id="sideMenuButton">
                                <div class="line menuLineTop"></div>
                                <div class="line menuLineMiddle"></div>
                                <div class="line menuLineBottom"></div>
                            </button>
                            {% endif %}
                        </div>
                        <nav class="headerNav">
                            <ul>
                            {% if 'login' not in request.path %}
                                <li><a href="{% url 'information:attractionlist'  park_type='TDL' %}"><img src="https://media2.tokyodisneyresort.jp/asset/images/common/icon_tdl.svg"><p>東京ディズニーランド</p></a></li>
                                <li><a  href="{% url 'information:attractionlist'  park_type='TDS' %}"><img src="https://media2.tokyodisneyresort.jp/asset/images/common/icon_tds.svg"><p>東京ディズニーシー</p></a></li>
                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </header>
                <div id="contents">
                    <nav id="menuNav">
                        <div id="weather">
                            <h1>東京ディズニーリゾート気象情報</h1>
                            <img src="http://openweathermap.org/img/wn/{{ weatherData.weather.0.icon }}@2x.png">
                            <p>気圧: {{ weatherData.main.pressure }}hPa</p>
                            <p>気温/湿度: {{ weatherData.main.temp }}° / {{ weatherData.main.humidity }}%</p>
                            <p>体感温度: {{ weatherData.main.feels_like }}</p>
                            <small>最高気温: {{ weatherData.main.temp_max }}° 最低気温: {{ weatherData.main.temp_min }}°</small>
                        </div>
                        <ul id="dropmenu">
                            <li><a href="{% url 'top' %}">トップ</a></li>
                            {% if now_open_info %}
                            {% endif %}
                            <li><a href="#">東京ディズニーランド</a>
                                <ul>
                                    <li><a href="{% url 'information:attractionlist' park_type='TDL' %}">アトラクション</a></li>
                                    <li><a href="{% url 'information:restaurantlist' park_type='TDL' %}">レストラン</a></li>
                                    {% if now_open_info %}
                                    <li><a href="{% url 'information:overview' park_type='TDL' %}">待ち時間順位</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="#">東京ディズニーシー</a>
                                <ul>
                                    <li><a href="{% url 'information:attractionlist' park_type='TDS' %}">アトラクション</a></li>
                                    <li><a href="{% url 'information:restaurantlist' park_type='TDS' %}">レストラン</a></li>
                                    {% if now_open_info %}
                                    <li><a href="{% url 'information:overview' park_type='TDS' %}">待ち時間順位</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="https://reserve.tokyodisneyresort.jp/ticket/search/" target="_blank">パークチケット購入※</a></li>
                            <li><a href="https://reserve.tokyodisneyresort.jp/restaurant/search/" target="_blank">レストラン予約※</a></li>
                            <li><a href="https://reserve.tokyodisneyresort.jp/showrestaurant/search/" target="_blank">ショーレストラン予約※</a></li>
                            <li><a href="https://github.com/sai11121209/TDR_Wait_Time_Analysis_WebApp" target="_blank">GitHub※</a></li>
                        </ul>
                        <p class="development-comment">Version: 1.4.0α102020072202</p>
                    </nav>
                    <div class="contentsWall">
                        {% block contentsWall %}
                        <div class="contentsIn">
                            {% block contents %}
                            {% endblock contents %}
                        </div>
                        {% endblock contentsWall %}
                    </div>
                </div>
                <footer>
                {% block footer %}
                    <div class="footerIn">
                        <small>©2020 Yuta Saikawa All Right Reserved.</small><br>
                        <small><a href="{% url 'admin:index' %}">管理者サイト</a></small>
                    </div>
                {% endblock footer %}
                </footer>
            </div>
        </div>
    </body>
    {% endblock %}
</html>